<a href="https://colab.research.google.com/github/kiat/Cloud-Computing/blob/main/Spark-Example-TPCH/Colab_TPC_H_Example_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Spark installation on Colab
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
# !tar xf spark-3.0.1-bin-hadoop3.2.tgz
# !pip install -q findspark

!pip install --ignore-installed -q pyspark==3.0.1

     |████████████████████████████████| 204.2 MB 35 kB/s
     |████████████████████████████████| 198 kB 52.2 MB/s
  Building wheel for pyspark (setup.py) ... done

In [2]:
import os
from pyspark.sql import SparkSession
from pyspark import SparkContext


import sys
from operator import add

from pyspark import SparkContext
from pyspark import SparkConf,SparkContext
from pyspark.streaming import StreamingContext
import sys
import requests
from operator import add

from pyspark.sql.types import *
from pyspark.sql import functions as func

from pyspark.sql.functions import lit
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from pyspark.sql.functions import array

from pyspark.sql import SQLContext

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()

# conf = SparkConf(appName="TPCH-Example")
# create spark context with the above configuration
# sc = SparkContext(conf=conf)

sqlContext = SQLContext(sc)

In [3]:
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/customer.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/lineitem.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/nation.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/orders.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/region.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/supplier.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/part.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/region.tbl
! wget -q https://raw.githubusercontent.com/kiat/Cloud-Computing/main/Spark-Example-TPCH/tpch_tables_scale_0.1/partsupp.tbl

In [4]:
! ls -la

total 105340
drwxr-xr-x 1 root root     4096 Mar 24 16:16 .
drwxr-xr-x 1 root root     4096 Mar 24 16:15 ..
drwxr-xr-x 1 root root     4096 Mar  9 14:47 .config
-rw-r--r-- 1 root root  2426178 Mar 24 16:16 customer.tbl
-rw-r--r-- 1 root root 74247152 Mar 24 16:16 lineitem.tbl
-rw-r--r-- 1 root root     2257 Mar 24 16:16 nation.tbl
-rw-r--r-- 1 root root 16893215 Mar 24 16:16 orders.tbl
-rw-r--r-- 1 root root 11728237 Mar 24 16:16 partsupp.tbl
-rw-r--r-- 1 root root  2391154 Mar 24 16:16 part.tbl
-rw-r--r-- 1 root root      412 Mar 24 16:16 region.tbl
-rw-r--r-- 1 root root      412 Mar 24 16:16 region.tbl.1
drwxr-xr-x 1 root root     4096 Mar  9 14:48 sample_data
-rw-r--r-- 1 root root   139679 Mar 24 16:16 supplier.tbl

In [5]:
lineitems = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("lineitem.tbl")
lineitems.show()

+--------+-------+-------+----------+--------+-------------+--------+----+----------+----------+----------+----------+-----------+-----------------+--------+--------------------+
|ORDERKEY|PARTKEY|SUPPKEY|LINENUMBER|QUANTITY|EXTENDEDPRICE|DISCOUNT| TAX|RETURNFLAG|LINESTATUS|  SHIPDATE|COMMITDATE|RECEIPTDATE|     SHIPINSTRUCT|SHIPMODE|             COMMENT|
+--------+-------+-------+----------+--------+-------------+--------+----+----------+----------+----------+----------+-----------+-----------------+--------+--------------------+
|       1|  15519|    785|         1|      17|     24386.67|    0.04|0.02|         N|         O|1996-03-13|1996-02-12| 1996-03-22|DELIVER IN PERSON|   TRUCK|egular courts abo...|
|       1|   6731|    732|         2|      36|     58958.28|    0.09|0.06|         N|         O|1996-04-12|1996-02-28| 1996-04-20| TAKE BACK RETURN|    MAIL|ly final dependen...|
|       1|   6370|    371|         3|       8|     10210.96|     0.1|0.02|         N|         O|1996-01-29|1996-03-05| 1996-01-31| TAKE BACK RETURN| REG AIR|riously. regular,...|
|       1|    214|    465|         4|      28|     31197.88|    0.09|0.06|         N|         O|1996-04-21|1996-03-30| 1996-05-16|             NONE|     AIR|lites. fluffily e...|
|       1|   2403|    160|         5|      24|      31329.6|     0.1|0.04|         N|         O|1996-03-30|1996-03-14| 1996-04-01|             NONE|     FOB| pending foxes. s...|
|       1|   1564|     67|         6|      32|     46897.92|    0.07|0.02|         N|         O|1996-01-30|1996-02-07| 1996-02-03|DELIVER IN PERSON|    MAIL|   arefully slyly ex|
|       2|  10617|    138|         1|      38|     58049.18|     0.0|0.05|         N|         O|1997-01-28|1997-01-14| 1997-02-02| TAKE BACK RETURN|    RAIL|ven requests. dep...|
|       3|    430|    181|         1|      45|     59869.35|    0.06| 0.0|         R|         F|1994-02-02|1994-01-04| 1994-02-23|             NONE|     AIR|ongside of the fu...|
|       3|   1904|    658|         2|      49|      88489.1|     0.1| 0.0|         R|         F|1993-11-09|1993-12-20| 1993-11-24| TAKE BACK RETURN|    RAIL| unusual accounts...|
|       3|  12845|    370|         3|      27|     47461.68|    0.06|0.07|         A|         F|1994-01-16|1993-11-22| 1994-01-23|DELIVER IN PERSON|    SHIP|    nal foxes wake. |
|       3|   2938|    191|         4|       2|      3681.86|    0.01|0.06|         A|         F|1993-12-04|1994-01-07| 1994-01-01|             NONE|   TRUCK|y. fluffily pendi...|
|       3|  18310|    115|         5|      28|     34392.68|    0.04| 0.0|         R|         F|1993-12-14|1994-01-10| 1994-01-01| TAKE BACK RETURN|     FOB|ages nag slyly pe...|
|       3|   6215|    984|         6|      26|     29151.46|     0.1|0.02|         A|         F|1993-10-29|1993-12-18| 1993-11-04| TAKE BACK RETURN|    RAIL|ges sleep after t...|
|       4|   8804|    579|         1|      30|      51384.0|    0.03|0.08|         N|         O|1996-01-10|1995-12-14| 1996-01-18|DELIVER IN PERSON| REG AIR|- quickly regular...|
|       5|  10857|    858|         1|      15|     26517.75|    0.02|0.04|         R|         F|1994-10-31|1994-08-31| 1994-11-20|             NONE|     AIR|  ts wake furiously |
|       5|  12393|    394|         2|      26|     33940.14|    0.07|0.08|         R|         F|1994-10-16|1994-09-25| 1994-10-19|             NONE|     FOB|sts use slyly qui...|
|       5|   3754|      8|         3|      50|      82887.5|    0.08|0.03|         A|         F|1994-08-08|1994-10-13| 1994-08-26|DELIVER IN PERSON|     AIR|eodolites. fluffi...|
|       6|  13964|    228|         1|      37|     69484.52|    0.08|0.03|         A|         F|1992-04-27|1992-05-15| 1992-05-02| TAKE BACK RETURN|   TRUCK|p furiously speci...|
|       7|  18206|     11|         1|      12|      13490.4|    0.07|0.03|         N|         O|1996-05-07|1996-03-13| 1996-06-03| TAKE BACK RETURN|     FOB|ss pinto beans wa...|
|       7|  14525|    790|         2|       9|     12955.68|    0.08|0.08|         N|         O|1996-02-01|1996-03-02| 1996-02-19| TAKE BACK RETURN|    SHIP|    es. instructions|
+--------+-------+-------+----------+--------+-------------+--------+----+----------+----------+----------+----------+-----------+-----------------+--------+--------------------+
only showing top 20 rows

In [6]:

customer = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("customer.tbl")
orders = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("orders.tbl")
lineitems = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("lineitem.tbl")
part = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("part.tbl")
supplier = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("supplier.tbl")
partsupp = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("partsupp.tbl")
region = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("region.tbl")
nation = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load("nation.tbl")

In [7]:
nation.show()

+---------+----------+---------+--------------------+
|NATIONKEY|      NAME|REGIONKEY|             COMMENT|
+---------+----------+---------+--------------------+
|        0|   ALGERIA|        0| haggle. carefull...|
|        1| ARGENTINA|        1|al foxes promise ...|
|        2|    BRAZIL|        1|y alongside of th...|
|        3|    CANADA|        1|eas hang ironic, ...|
|        4|     EGYPT|        4|y above the caref...|
|        5|  ETHIOPIA|        0|ven packages wake...|
|        6|    FRANCE|        3|refully final req...|
|        7|   GERMANY|        3|l platelets. regu...|
|        8|     INDIA|        2|ss excuses cajole...|
|        9| INDONESIA|        2| slyly express as...|
|       10|      IRAN|        4|efully alongside ...|
|       11|      IRAQ|        4|nic deposits boos...|
|       12|     JAPAN|        2|ously. final, exp...|
|       13|    JORDAN|        4|ic deposits are b...|
|       14|     KENYA|        0| pending excuses ...|
|       15|   MOROCCO|        0|rns. blithely bol...|
|       16|MOZAMBIQUE|        0|s. ironic, unusua...|
|       17|      PERU|        1|platelets. blithe...|
|       18|     CHINA|        2|c dependencies. f...|
|       19|   ROMANIA|        3|ular asymptotes a...|
+---------+----------+---------+--------------------+
only showing top 20 rows