In [1]:
text_data = sqlContext.read.format('text')\
    .options(header='true', inferSchema='true')\
    .load("../Spark-Example-Word-Count/20-news-same-line.txt")

In [2]:
text_data.show()

+--------------------+
|               value|
+--------------------+
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
|<doc id="20_newsg...|
+--------------------+
only showing top 20 rows

In [3]:
text_data.printSchema()

root
 |-- value: string (nullable = true)

In [4]:
text_data.first()

Row(value='<doc id="20_newsgroups/comp.graphics/37261" url="" title="20_newsgroups/comp.graphics/37261"> From: lipman@oasys.dt.navy.mil (Robert Lipman) Subject: CALL FOR PRESENTATIONS: Navy SciViz/VR Seminar Date: 19 Mar 93 20:10:23 GMT Distribution: usa Lines: 65   CALL FOR PRESENTATIONS  NAVY SCIENTIFIC VISUALIZATION AND VIRTUAL REALITY SEMINAR  Tuesday, June 22, 1993  Carderock Division, Naval Surface Warfare Center formerly the David Taylor Research Center) Bethesda, Maryland  SPONSOR: NESS (Navy Engineering Software System) is sponsoring a  one-day Navy Scientific Visualization and Virtual Reality Seminar.   The purpose of the seminar is to present and exchange information for Navy-related scientific visualization and virtual reality programs,  research, developments, and applications.  PRESENTATIONS: Presentations are solicited on all aspects of  Navy-related scientific visualization and virtual reality.  All  current work, works-in-progress, and proposed work by Navy  organizations will be considered.  Four types of presentations are  available.  Regular presentation: 20-30 minutes in length Short presentation: 10 minutes in length Video presentation: a stand-alone videotape (author need not  attend the seminar) Scientific visualization or virtual reality demonstration (BYOH)  Accepted presentations will not be published in any proceedings,  however, viewgraphs and other materials will be reproduced for  seminar attendees.  ABSTRACTS: Authors should submit a one page abstract and/or videotape to:  Robert Lipman Naval Surface Warfare Center, Carderock Division Code 2042 Bethesda, Maryland  20084-5000  VOICE  227-3618;  FAX  227-5753   E-MAIL  lipman@oasys.dt.navy.mil  Authors should include the type of presentation, their affiliations,  addresses, telephone and FAX numbers, and addresses.  Multi-author  papers should designate one point of contact.  DEADLINES: The abstact submission deadline is April 30, 1993.   Notification of acceptance will be sent by May 14, 1993.   Materials for reproduction must be received by June 1, 1993.  For further information, contact Robert Lipman at the above address.  PLEASE DISTRIBUTE AS WIDELY AS POSSIBLE, THANKS.     Robert Lipman                     | Internet: lipman@oasys.dt.navy.mil David Taylor Model Basin - CDNSWC |       or: lip@ocean.dt.navy.mil Computational Signatures and      | Voicenet:  227-3618 Structures Group, Code 2042    | Factsnet:  227-5753 Bethesda, Maryland  20084-5000    | Phishnet: stockings@long.legs  The sixth sick shiek\'s sixth sheep\'s sick. </doc> ')

In [6]:
from pyspark.sql.functions import split, explode, count, desc

# Assuming your DataFrame is named 'text_data'
# Split the text_data column into words using spaces as the delimiter
words_df = text_data.select(split(text_data.value, " ").alias("words"))
# Explode the list of words into individual rows
exploded_words_df = words_df.select(explode(words_df.words).alias("word"))
exploded_words_df.show()

+--------------------+
|                word|
+--------------------+
|                <doc|
|id="20_newsgroups...|
|              url=""|
|title="20_newsgro...|
|               From:|
|lipman@oasys.dt.n...|
|             (Robert|
|             Lipman)|
|            Subject:|
|                CALL|
|                 FOR|
|      PRESENTATIONS:|
|                Navy|
|           SciViz/VR|
|             Seminar|
|               Date:|
|                  19|
|                 Mar|
|                  93|
|            20:10:23|
+--------------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import split, explode, count, desc

# Assuming your DataFrame is named 'text_data'
# Split the text_data column into words using spaces as the delimiter
words_df = text_data.select(split(text_data.value, " ").alias("words"))

# Explode the list of words into individual rows
exploded_words_df = words_df.select(explode(words_df.words).alias("word"))

# Perform the Word Count
word_count_df = exploded_words_df.groupBy("word").agg(count("*").alias("count"))

# Show or save the results
word_count_df.show()

+--------------------+-----+
|                word|count|
+--------------------+-----+
|           Factsnet:|    3|
|               input|  364|
|                some|10015|
|               those| 4797|
|                 few| 2441|
|title="20_newsgro...|    1|
|                 UAB|    4|
|               still| 3206|
|                  By|  799|
|                 X\t|  343|
|                hope|  982|
|           standards|  208|
|            15:02:12|    1|
|           connected|  227|
|              travel|   84|
|            20:21:46|    1|
|   recently-released|    1|
|             from/to|    2|
|                 ...| 1237|
|title="20_newsgro...|    1|
+--------------------+-----+
only showing top 20 rows

In [8]:
# Get the top 10 words with the highest counts
top_10_words = word_count_df.orderBy(desc("count")).limit(10)
top_10_words.show()

+----+------+
|word| count|
+----+------+
|    |909755|
| the|225468|
|  to|124251|
|  of|113153|
|   a| 98699|
| and| 93602|
|  is| 69306|
|   I| 69160|
|  in| 66165|
|that| 63147|
+----+------+

# Using withColumn() operation

In [18]:
# Assuming your DataFrame is named 'text_data'
# Split the text_data column into words using spaces as the delimiter
words_df = text_data.withColumn("words", split(text_data.value, " "))

# Explode the list of words into individual rows
exploded_words_df = words_df.select(explode(words_df.words).alias("word"))

# Perform the Word Count
word_count_df = exploded_words_df.groupBy("word").agg(count("*").alias("count"))

# Get the top 10 words with the highest counts
top_10_words = word_count_df.orderBy(desc("count")).limit(10)

# Show or save the top 10 results
top_10_words.show()

+----+------+
|word| count|
+----+------+
|    |909755|
| the|225468|
|  to|124251|
|  of|113153|
|   a| 98699|
| and| 93602|
|  is| 69306|
|   I| 69160|
|  in| 66165|
|that| 63147|
+----+------+